* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-text-color: #fff;
  --main-text-color: #e7e7e0;
  --bg-color: #010101;
  --index: calc(1vw + 1vh);
  --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}

body {
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
}

.content {
  will-change: transform;
  position: relative;
}

.header {
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  z-index: 100;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/ground.png);
  height: calc(var(--index) * 10);
  bottom: calc(var(--index) * -4.5);
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.layer__header {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  transition: var(--transition);
  text-transform: uppercase;
  will-change: transform;
  font-weight: 900;
  color: var(--main-text-color);
  text-shadow: 0 0 15px #9e7d35;
}

.layers__caption {
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) / 3.25);
  margin-top: calc(var(--index) * -6);
}

.layer__title {
  font-size: calc(var(--index) * 2.65);
  letter-spacing: calc(var(--index) / 3.25);
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  transition: var(--transition);
  z-index: 2;
}

.layers__base {
  background-image: url(../img/layer-base.png);
  background-repeat: no-repeat;
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}

.layers__middle {
  background-image: url(../img/layer-middle.png);
  background-repeat: no-repeat;
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers__front {
  background-image: url(../img/layer-front.png);
  background-repeat: no-repeat;
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.dungeon {
  --text-transform: translate3d(0, calc(var(--scrollTop) / -17.5), 0);
  /* background-image: url(../img/dungeon.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
  top: -1px;
	z-index: 10;
}

.floor-1 {
  background-image: url(../img/dungeon-1-middle.png);
  position: relative;
  z-index: 2;
}

.floor-1__back {
  background-image: url(../img/dungeon-1-back.png);
  background-repeat: no-repeat;
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 1;
}
.floor-1__middle {
  background-image: url(../img/dungeon-1-mid.png);
  background-repeat: no-repeat;
  transform: translate3d(0, calc(var(--scrollTop) / 19), 0);
}

.floor-1__front {
  background-image: url(../img/dungeon-1-front.png);
  background-repeat: no-repeat;
  transform: translate3d(0, calc(var(--scrollTop) / 0.01), 0);
  z-index: 2;
}

.floor-1__content {
  z-index: 2;
}

.floor-2 {
  background-image: url(../img/dungeon.jpg);
  z-index: 5 ;
}

.floor-3 {
  background-image: url(../img/dungeon2.jpg);
  z-index: 1;
}

.floor-1::after {
  content: '';
  position: absolute;
  z-index: 100;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/ground.png);
  height: calc(var(--index) * 10);
  bottom: calc(var(--index) * -4.5);
}

.floor-2::after {
  content: '';
  position: absolute;
  z-index: 100;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/ground.png);
  height: calc(var(--index) * 10);
  bottom: calc(var(--index) * -4.5);
}

.dungeon__content {
  color: var(--main-text-color);
  position: relative;

}

.dungeon__title {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  transform: var(--text-transform);
  transition: var(--transition);
  will-change: transform;
}

.dungeon__text {
  font-size: calc(var(--index) * .9);
  max-width: calc(var(--index) * 35);
  margin-top: calc(var(--index) / 1.25);
  transform: var(--text-transform);
  transition: var(--transition);
  will-change: transform;
}

.footer {
  display: flex;
  justify-content:center;

}
.footer__container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  text-align: center;
  letter-spacing: calc(var(--index) / 37);
}

.footer__copyright {
  font-size: calc(var(--index) * 0.75);
  letter-spacing: calc(var(--index) / 37);
}

.footer__author {
  font-size: calc(var(--index) * 0.55);
}

.audio__play-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 5;
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  background-image: url(../img/play-min.png);
  background-size: cover;
  text-shadow: 0 0 15px #9e7d35;
}

.btn-pause {
  background-image: url(../img/pause-min.png);
}